<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Luisa - Detallles del Blog</title>
    <script src="../js/vendors/color-modes.js"></script>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../imgs/template/icons/1.png" />
    <!-- Libs CSS -->
    <link rel="stylesheet" href="../css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/vendors/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/vendors/aos.css" />
    <link rel="stylesheet" href="../css/vendors/odometer.css" />
    <link rel="stylesheet" href="../css/vendors/carouselTicker.css" />
    <link rel="stylesheet" href="../css/vendors/magnific-popup.css" />
    <link rel="stylesheet" href="../fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="../fonts/satoshi/satoshi.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Playfair+Display:wght@400..900&family=Urbanist:wght@100..900&display=swap"
        rel="stylesheet" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="../css/main.css" />

</head>

<body>
    <!-- prettier-ignore -->
    <!--Preloader-->
    <div id="preloader">
        <div class="loader-cover">
            <div class="loader-container">
                <div class="loader-icon"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->

    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light w-100 flex-nowrap z-999 p-0">
            <a href="#" class="navbar-menu p-4 text-center square-100 menu-tigger icon_80 icon-shape d-none d-md-flex"
                data-bs-target=".offCanvas__info" aria-controls="offCanvas__info">
                <i class="ri-menu-2-line"></i>
            </a>
            <div class="container py-3 px-0">
                <a class="navbar-brand d-flex main-logo align-items-center ms-lg-0 ms-md-5 ms-3" href="../../index.html">
                    <img src="../imgs/template/icons/1.png" alt="zelio" />
                    <span class="fs-4 ms-2">Luisa.design</span>
                </a>
                <div class="d-none d-lg-flex">
                    <div class="main-menu">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item has-children">
                                <a class="nav-link active" href="../../index.html">Inicio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../views/services.html">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/portafolio.html">Portafolio</a>
                            </li>

                            <li class="nav-item  has-children">
                                <a class="nav-link" href="#">Paginas</a>
                                <ul class="sub-menu">
                                    <li><a href="../views/preguntas.html">Preguntas Frecuentes</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../views/blog_list.html">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contac.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-social d-flex align-items-center pe-5 pe-lg-0 me-5 me-lg-0">
                    <div class="d-md-flex d-none gap-3">
                        <a href="http://facebook.com">
                            <i class="ri-facebook-circle-fill fs-18"></i>
                        </a>
                        <a href="http://twitter.com">
                            <i class="ri-twitter-x-fill fs-18"></i>
                        </a>
                        <a href="http://linkedin.com">
                            <i class="ri-linkedin-fill fs-18"></i>
                        </a>
                        <a href="http://github.com">
                            <i class="ri-github-fill fs-18"></i>
                        </a>
                        </a>
                    </div>
                    <div class="burger-icon burger-icon-white border rounded-3">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
            </div>
            <div
                class="dark-light-switcher pe-10 pe-lg-0 pe-0 ps-md-5 ps-0 ps-lg-4 pe-lg-4 d-flex justify-content-center align-items-center icon_80 @@classList">
                <i class="ri-sun-fill text-warning"></i>
                <i class="ri-contrast-2-line text-white"></i>
            </div>

        </nav>
        <!-- offCanvas-menu -->
        <div class="offCanvas__info">
            <div class="offCanvas__close-icon menu-close">
                <button><i class="ri-close-line"></i></button>
            </div>
            <div class="offCanvas__logo mb-5">
                <h3 class="mb-0">Ponte en contacto</h3>
            </div>
            <div class="offCanvas__side-info mb-30">
                <div class="contact-list mb-30">
                    <p class="fs-6 fw-medium text-200 mb-5">Siempre estoy entusiasmada por emprender nuevos proyectos y
                        colaborar con mentes innovadoras.</p>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Número de teléfono</span>
                        <p class="mb-0">+51-953-299-883</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Email</span>
                        <p class="mb-0">luisa.amaya2007@gmail.com</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Facebook</span>
                        <p class="mb-0">Luisa Amaya</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Dirección</span>
                        <p class="mb-0">La Esperanza, Trujillo, Perú</p>
                    </div>
                </div>

                <div class="contact-list">
                    <p class="text-400 fs-5 mb-2">Social</p>
                    <div class="d-md-flex d-none gap-3">
                        <a href="http://facebook.com" target="_blank">
                            <i class="ri-facebook-circle-fill fs-18"></i>
                        </a>
                        <a href="http://twitter.com" target="_blank">
                            <i class="ri-twitter-x-fill fs-18"></i>
                        </a>
                        <a href="http://linkedin.com" target="_blank">
                            <i class="ri-linkedin-fill fs-18"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="ri-instagram-fill fs-18"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offCanvas__overly"></div>
        <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-logo">
                    <a class="d-flex main-logo align-items-center d-inline-flex"
                        href="../../index.html">
                        <img src="../imgs/footer-1/logo.svg" alt="zelio" />
                        <span class="fs-4 ms-2 text-dark">Luisa.design</span>
                    </a>
                    <div class="burger-icon burger-icon-white border rounded-3">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="perfect-scroll">
                        <div class="mobile-menu-wrap mobile-header-border">
                            <nav>
                                <ul class="mobile-menu font-heading ps-0">
                                    <li class="nav-item has-children">
                                        <a class="nav-link active" href="../../index.html">Inicio</a>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/services.html">Servicios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/portafolio.html">Portafolio</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/preguntas.html">Preguntas Frecuentes</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/blog_list.html">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/contac.html">Contacto</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>
        <!-- prettier-ignore -->
        <!-- blog details -->
        <section class="section-details pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-lg-auto mb-8">
                        <div class="text-center">
                            <div class="btn btn-gradient d-inline-block text-uppercase">Diseño Web</div>
                            <h3 class="ds-3 mt-3 mb-4 text-dark">Figma: Ideal para diseñar experiencias
                                colaborativas</h3>
                            <p class="text-300 fs-5 mb-0">
                                Diseñar una buena experiencia móvil comienza con la herramienta adecuada. <br />
                                Figma permite a diseñadores y desarrolladores trabajar juntos en tiempo real para
                                <br />
                                crear interfaces móviles modernas, fluidas y centradas en el usuario.
                            </p>
                        </div>
                    </div>
                    <img src="../imgs/blog/blog-details/details-1.png" alt="zelio" />
                    <div class="col-lg-10 mx-lg-auto mt-8">
                        <div class="row">
                            <div class="col-lg-9">
                                <h5>¿Qué es Figma? La app de UI y UX </h5>
                                <h5 class="fs-5 fw-medium">Figma</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Editor de gráficos vectoriales y plataforma de prototipado, disponible en la web
                                        y también con aplicaciones de escritorio (macOS y Windows).</li>
                                    <li>Permite ver prototipos en tiempo real desde móviles mediante Figma Mirror.</li>
                                    <li>Su principal fortaleza es la colaboración en tiempo real, facilitando trabajar a
                                        varios usuarios simultáneamente.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Funcionalidades clave</h5>
                                <p class="text-300">
                                <ul>
                                    <li><b>Diseño (Design Mode)</b>: Dibujo de formas, texto, imágenes, capas y estilos
                                        con reglas, guías y cuadrícula.</li>
                                    <li><b>Prototipado (Prototype Mode)</b>: Conexión de pantallas con interacciones
                                        (clic, hover, animaciones) para simular flujos UX .</li>
                                    <li><b>Dev Mode</b>: Entorno para desarrolladores con inspección de elementos,
                                        extracción de código, variables y recursos para exportar.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Colaboración y estructura</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Plataforma basada en la nube, sin instalación previa (aunque hay apps de
                                        escritorio).</li>
                                    <li>Estructura organizada por archivos que contienen páginas, marcos, componentes y
                                        estilos comunes.</li>
                                    <li>Compartición fácil mediante enlaces, sin importar el sistema usado por quien
                                        accede.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">UX/UI y productividad</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Plantillas y marcos predefinidos (iPhone, tablets, desktop...) para empezar
                                        rápidamente.</li>
                                    <li>Generación de wireframes, mockups, diseños de alta fidelidad y prototipos
                                        interactivos.</li>
                                    <li>Incluye bibliotecas de elementos UI reutilizables: botones, iconos, estilos,
                                        selección múltiple.</li>
                                    <li>Soporta workflow de UX writing: formato, tipografía, paletas de color,
                                        maquetación.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Integraciones y extensibilidad</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Exportación a formatos JPG, PNG, PDF... y plugins para iconos, datos,
                                        accesibilidad.</li>
                                    <li>Integraciones con otras herramientas de desarrollo y gestión: exportación de
                                        código, tokens, variables.</li>
                                </ul>
                                </p>

                                <div class="d-flex align-items-center my-6">
                                    <img class="" src="../imgs/blog/blog-details/details-1a.png" alt="zelio" />
                                    <div class="d-md-flex flex-column d-none gap-3 ms-3">
                                        <img src="../imgs/blog/blog-details/details-1b.png" alt="zelio" />
                                        <img src="../imgs/blog/blog-details/details-1c.jpg" alt="zelio" />
                                    </div>
                                </div>

                                <h5 class="fs-5 fw-medium">Breve historia y relevancia</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Fundada en 2012 por Dylan Field y Evan Wallace; primera beta en diciembre de
                                        2015 y lanzamiento público en septiembre de 2016.</li>
                                    <li>Crecimiento notable, adquirida por Adobe en 2022, cotiza como IPO en abril de
                                        2025.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">¿Por qué elegir Figma?</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Accesible desde cualquier navegador, sin instalación.</li>
                                    <li>Flujo de trabajo colaborativo en tiempo real: ideal para equipos distribuidos.
                                    </li>
                                    <li>Herramientas integrales para diseño, prototipado y colaboración, lo que reduce
                                        la necesidad de múltiples aplicaciones.</li>
                                    <li>Ecosistema expandido con FigJam, Slides y constantes innovaciones (AI, sitios
                                        web, dev tools…).</li>
                                </ul>
                                </p>

                                <div class="border-linear-3 rounded-4 p-lg-6 p-md-4 p-3 mt-6">
                                    <h4>Conclusión</h4>
                                    <p class="text-300 mt-4">Figma es una herramienta versátil y robusta para
                                        diseñadores UX/UI, que combina edición vectorial, prototipado interactivo y
                                        colaboración en tiempo real en una plataforma accesible desde el navegador. Su
                                        ecosistema crece con productos como FigJam y Slides, integrando diseño,
                                        presentación y creatividad en un solo lugar.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-8">
                                <div class="border-linear-3 rounded-4 p-lg-6 p-md-4 p-3 mt-lg-0 mt-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="ri-time-line fs-6"></i>
                                        <span class="ms-2 fs-6">16 min de lectura</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="ri-calendar-schedule-line fs-6"></i>
                                        <span class="ms-2 fs-6">May 19, 2022</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="ri-user-line fs-6"></i>
                                        <span class="ms-2 fs-6">Por <a class="fw-bold" href="#">Marta García</a></span>
                                    </div>
                                </div>
                                <div class="border-linear-3 rounded-4 p-lg-6 p-md-4 p-3 mt-4">
                                    <span class="text-uppercase fs-7">Mis Redes</span> <br />
                                    <div class="d-flex gap-3 pt-3">
                                        <a href="https://www.facebook.com/" target="_blank"
                                            class="text-decoration-none">
                                            <i class="ri-facebook-circle-fill fs-18"></i>
                                        </a>
                                        <a href="https://x.com/" target="_blank" class="text-decoration-none">
                                            <i class="ri-twitter-x-fill fs-18"></i>
                                        </a>
                                        <a href="https://www.instagram.com/" target="_blank"
                                            class="text-decoration-none">
                                            <i class="ri-instagram-fill fs-5"></i>
                                        </a>
                                        <a href="https://es.pinterest.com/" target="_blank"
                                            class="text-decoration-none">
                                            <i class="ri-pinterest-fill fs-5"></i>
                                        </a>
                                        <a href="http://github.com" target="_blank">
                                            <i class="ri-github-fill fs-18"></i>
                                        </a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Static 1-->
        <div class="section-static-1 position-relative overflow-hidden z-0 py-8 bg-6">
            <div class="container">
                <div class="inner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="82"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Comunicación</p>
                                        <p class="fs-5 mb-0 fw-bold">Efectiva</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="78"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Trabajo en</p>
                                        <p class="fs-5 mb-0 fw-bold">Equipo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="70"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Capacidad de</p>
                                        <p class="fs-5 mb-0 fw-bold">Adaptación</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="75"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Gestión del</p>
                                        <p class="fs-5 mb-0 fw-bold">Tiempo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- prettier-ignore -->
    <!-- Footer -->
    <footer>
        <div class="section-footer position-relative pt-60 pb-60 bg-secondary-1">
            <div class="container position-relative z-1">
                <div class="text-center">
                    <a class="d-flex main-logo align-items-center d-inline-flex" href="../../index.html">
                        <img src="../imgs/footer-1/1.png" alt="zelio" />
                        <span class="fs-4 ms-2 text-white-keep"> Luisa.design</span>
                    </a>
                    <div
                        class="navigation d-none d-md-flex align-items-center justify-content-center flex-wrap gap-4 my-4">
                        <a href="../../index.html" class="fs-5">
                            Inicio
                        </a>
                        <a href="../views/services.html" class="fs-5">
                            Servicios
                        </a>
                        <a href="../views/portafolio.html" class="fs-5">
                            Portafolio
                        </a>
                        <a href="../views/preguntas.html" class="fs-5">
                            Preguntas Frecuentes
                        </a>
                        <a href="../views/blog_list.html" class="fs-5">
                            Blog
                        </a>
                        <a href="../views/contac.html" class="fs-5">
                            Contacto
                        </a>
                    </div>
                </div>
                <div class="row text-center py-4">
                    <span class="fs-6 text-white-keep">© 2025 Todos los derechos reservados por<span><a href="#"
                                class="text-primary"> Luisa.design</a></span>
                </div>
            </div>
            <div class="position-absolute top-0 start-0 w-100 h-100 z-0"
                data-background="assets/imgs/footer-1/background.png "></div>
        </div>
    </footer>
    <!-- Scroll top -->
    <div class="btn-scroll-top @@style">
        <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
            <path
                d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
        </svg>
    </div>

    <!-- Libs JS -->
    <script src="../js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../js/vendors/swiper-bundle.min.js"></script>
    <script src="../js/vendors/aos.js"></script>
    <script src="../js/vendors/wow.min.js"></script>
    <script src="../js/vendors/smart-stick-nav.js"></script>
    <script src="../js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="../js/vendors/gsap.min.js"></script>
    <script src="../js/vendors/imagesloaded.pkgd.min.js"></script>
    <script src="../js/vendors/isotope.pkgd.min.js"></script>
    <script src="../js/vendors/ScrollTrigger.min.js"></script>
    <script src="../js/vendors/jquery.carouselTicker.min.js"></script>
    <script src="../js/vendors/jquery.odometer.min.js"></script>
    <script src="../js/vendors/jquery.appear.js"></script>
    <script src="../js/vendors/gsap-custom.js"></script>
    <script src="../js/imageRevealHover.js"></script>
    <script src="../js/vendors/aat.min.js"></script>
    <!-- Theme JS -->
    <script src="../js/main.js"></script>

</body>

</html>
