<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Luisa - Detallles del Blog</title>
    <script src="../js/vendors/color-modes.js"></script>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../imgs/template/icons/1.png" />
    <!-- Libs CSS -->
    <link rel="stylesheet" href="../css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/vendors/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/vendors/aos.css" />
    <link rel="stylesheet" href="../css/vendors/odometer.css" />
    <link rel="stylesheet" href="../css/vendors/carouselTicker.css" />
    <link rel="stylesheet" href="../css/vendors/magnific-popup.css" />
    <link rel="stylesheet" href="../fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="../fonts/satoshi/satoshi.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Playfair+Display:wght@400..900&family=Urbanist:wght@100..900&display=swap"
        rel="stylesheet" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="../css/main.css" />

</head>

<body>
    <!-- prettier-ignore -->
    <!--Preloader-->
    <div id="preloader">
        <div class="loader-cover">
            <div class="loader-container">
                <div class="loader-icon"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->

    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light w-100 flex-nowrap z-999 p-0">
            <a href="#" class="navbar-menu p-4 text-center square-100 menu-tigger icon_80 icon-shape d-none d-md-flex"
                data-bs-target=".offCanvas__info" aria-controls="offCanvas__info">
                <i class="ri-menu-2-line"></i>
            </a>
            <div class="container py-3 px-0">
                <a class="navbar-brand d-flex main-logo align-items-center ms-lg-0 ms-md-5 ms-3" href="../../index.html">
                    <img src="../imgs/template/icons/1.png" alt="zelio" />
                    <span class="fs-4 ms-2">Luisa.design</span>
                </a>
                <div class="d-none d-lg-flex">
                    <div class="main-menu">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item has-children">
                                <a class="nav-link active" href="../../index.html">Inicio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../views/services.html">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/portafolio.html">Portafolio</a>
                            </li>

                            <li class="nav-item  has-children">
                                <a class="nav-link" href="#">Paginas</a>
                                <ul class="sub-menu">
                                    <li><a href="../views/preguntas.html">Preguntas Frecuentes</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../views/blog_list.html">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contac.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-social d-flex align-items-center pe-5 pe-lg-0 me-5 me-lg-0">
                    <div class="d-md-flex d-none gap-3">
                        <a href="http://facebook.com">
                            <i class="ri-facebook-circle-fill fs-18"></i>
                        </a>
                        <a href="http://twitter.com">
                            <i class="ri-twitter-x-fill fs-18"></i>
                        </a>
                        <a href="http://linkedin.com">
                            <i class="ri-linkedin-fill fs-18"></i>
                        </a>
                        <a href="http://github.com">
                            <i class="ri-github-fill fs-18"></i>
                        </a>
                    </div>
                    <div class="burger-icon burger-icon-white border rounded-3">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
            </div>
            <div
                class="dark-light-switcher pe-10 pe-lg-0 pe-0 ps-md-5 ps-0 ps-lg-4 pe-lg-4 d-flex justify-content-center align-items-center icon_80 @@classList">
                <i class="ri-sun-fill text-warning"></i>
                <i class="ri-contrast-2-line text-white"></i>
            </div>

        </nav>
        <!-- offCanvas-menu -->
        <div class="offCanvas__info">
            <div class="offCanvas__close-icon menu-close">
                <button><i class="ri-close-line"></i></button>
            </div>
            <div class="offCanvas__logo mb-5">
                <h3 class="mb-0">Ponte en contacto</h3>
            </div>
            <div class="offCanvas__side-info mb-30">
                <div class="contact-list mb-30">
                    <p class="fs-6 fw-medium text-200 mb-5">Siempre estoy entusiasmada por emprender nuevos proyectos y
                        colaborar con mentes innovadoras.</p>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Número de teléfono</span>
                        <p class="mb-0">+51-953-299-883</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Email</span>
                        <p class="mb-0">luisa.amaya2007@gmail.com</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Facebook</span>
                        <p class="mb-0">Luisa Amaya</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Dirección</span>
                        <p class="mb-0">La Esperanza, Trujillo, Perú</p>
                    </div>
                </div>

                <div class="contact-list">
                    <p class="text-400 fs-5 mb-2">Social</p>
                    <div class="d-md-flex d-none gap-3">
                        <a href="http://facebook.com" target="_blank">
                            <i class="ri-facebook-circle-fill fs-18"></i>
                        </a>
                        <a href="http://twitter.com" target="_blank">
                            <i class="ri-twitter-x-fill fs-18"></i>
                        </a>
                        <a href="http://linkedin.com" target="_blank">
                            <i class="ri-linkedin-fill fs-18"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="ri-instagram-fill fs-18"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offCanvas__overly"></div>
        <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-logo">
                    <a class="d-flex main-logo align-items-center d-inline-flex" href="../../index.html">
                        <img src="../imgs/footer-1/logo.svg" alt="zelio" />
                        <span class="fs-4 ms-2 text-dark">Luisa.design</span>
                    </a>
                    <div class="burger-icon burger-icon-white border rounded-3">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="perfect-scroll">
                        <div class="mobile-menu-wrap mobile-header-border">
                            <nav>
                                <ul class="mobile-menu font-heading ps-0">
                                    <li class="nav-item has-children">
                                        <a class="nav-link active" href="../../index.html">Inicio</a>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/services.html">Servicios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/portafolio.html">Portafolio</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/preguntas.html">Preguntas Frecuentes</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/blog_list.html">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/contac.html">Contacto</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>
        <!-- prettier-ignore -->
        <!-- blog details -->
        <section class="section-details pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-lg-auto mb-8">
                        <div class="text-center">
                            <div class="btn btn-gradient d-inline-block text-uppercase">Diseño Grafico</div>
                            <h3 class="ds-3 mt-3 mb-4 text-dark">Photoshop: edición profesional desde la palma de tu
                                mano</h3>
                            <p class="text-300 fs-5 mb-0">
                                Hoy en día, crear y retocar contenido visual desde el móvil es más fácil que nunca
                                <br />
                                gracias a la app de Photoshop. Desde eliminar fondos con un solo toque hasta aplicar
                                <br />
                                filtros inteligentes, esta versión portátil permite una edición rápida y profesional que
                                mejora la producción
                                visual en redes.
                            </p>
                        </div>
                    </div>
                    <img src="../imgs/blog/blog-details/details-5.png" alt="zelio" />
                    <div class="col-lg-10 mx-lg-auto mt-8">
                        <div class="row">
                            <div class="col-lg-9">
                                <h5>Todo lo que puedes hacer en Photoshop</h5>
                                <h5 class="fs-5 fw-medium">Lanzamiento y disponibilidad</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Photoshop móvil ya está disponible de forma gratuita en iPhone (versión estable)
                                        y en beta para Android, con acceso premium durante el periodo de prueba para
                                        Android .</li>
                                    <li>Algunas funciones avanzadas requieren una suscripción —plan Photoshop Mobile &
                                        Web por USD 7.99/mes o USD 69.99/año— o estar incluido en tu suscripción actual
                                        de Photoshop/Creative Cloud.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Acciones rápidas (Quick Actions)</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Al abrir una imagen, puedes aplicar efectos inmediatos: ocultar fondo, fondo de
                                        color o blanco y negro selectivo, usando IA generativa para identificar el
                                        sujeto principal automáticamente.</li>
                                    <li>Cada acción crea automáticamente una capa editable para trabajar por separado
                                        con sujeto y fondo.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Capas y máscaras</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Soporta múltiples capas: Fill layer, Adjustment layer, máscaras creadas con un
                                        toque o a mano alzada.</li>
                                    <li>Funciones de gestión: ocultar, duplicar, fusionar y eliminar capas, además de
                                        editar propiedades específicas de cada una.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Herramientas de selección</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Incluye Tap Select, Quick Select Brush, Magic Wand, además de formas básicas
                                        (rectángulo, elipse) para seleccionar áreas precisas.</li>
                                    <li>Una vez seleccionada el área, puedes relleno generativo, ajustes de
                                        brillo/contraste o convertirla fácilmente en una máscara. También puedes
                                        expandir, reducir o invertir la selección.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Herramientas y pinceles</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Edita imágenes con herramientas clásicas de Photoshop como: Spot Heal, Clone
                                        Stamp, Brighten/Darken, pinceles personalizables (tamaño, opacidad), y borrador.
                                    </li>
                                    <li>La interfaz táctil estilo "select and do" permite flujos intuitivos sin menús
                                        complicados.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Herramientas y pinceles</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Exportación a formatos JPG, PNG, PDF... y plugins para iconos, datos,
                                        accesibilidad.</li>
                                    <li>Integraciones con otras herramientas de desarrollo y gestión: exportación de
                                        código, tokens, variables.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Integraciones y soporte en app</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Controles de deshacer/rehacer, guía de ayuda (icono de bombilla), y
                                        configuración o guardado desde el ícono de engranaje.</li>
                                    <li>Integración con Adobe Express, Fresco, Lightroom, y acceso directo a la
                                        biblioteca de Adobe Stock con más de mil activos gratuitos.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">IA generativa y premium</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Con Firefly AI, puedes usar herramientas como Generative Fill, Generative
                                        Expand, texto a imagen y extensiones inteligentes de contenido comercialmente
                                        seguro.</li>
                                    <li>Los planes premium añaden selección precisa de objetos, Magic Wand,
                                        Content-Aware Fill, modos de fusión avanzados, acceso a más de 20,000 fuentes y
                                        posibilidad de importar más.</li>
                                </ul>
                                </p>

                                <div class="d-flex align-items-center my-6">
                                    <img class="" src="../imgs/blog/blog-details/details-5a.png" alt="zelio" />
                                    <div class="d-md-flex flex-column d-none gap-3 ms-3">
                                        <img src="../imgs/blog/blog-details/details-5b.png" alt="zelio" />
                                        <img src="../imgs/blog/blog-details/details-5c.jpg" alt="zelio" />
                                    </div>
                                </div>

                                <h5 class="fs-5 fw-medium">Limitaciones y diferencias por plataforma</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Versión Android (beta) gratuita por tiempo limitado, pero actualmente está
                                        limitada a modo retrato y no soporta landscape, incluso en tablets plegables, lo
                                        que ha generado críticas sobre su calidad frente a iOS.</li>
                                    <li>La experiencia de uso en Android aún está en desarrollo, pese a compartir muchas
                                        características con iOS.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Historia y contexto</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Este es el primer lanzamiento oficial con herramientas avanzadas,
                                        diferenciándose de apps anteriores como Photoshop Fix o Express, con enfoque
                                        completo en edición profesional en móviles.</li>
                                </ul>
                                </p>

                                <br>
                                <p class="text-300">
                                <table style="width:100%; border-collapse: collapse; text-align: left;">
                                    <thead>
                                        <tr style="background-color:#7456f5; color: #f8f8f8;">
                                            <th style="padding:10px; border:1px solid #7456f5;">Categoría</th>
                                            <th style="padding:10px; border:1px solid #7456f5;">Gratis (iOS/Android
                                                beta)
                                            </th>
                                            <th style="padding:10px; border:1px solid #7456f5;">Plan Photoshop Mobile &
                                                Web
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="padding:10px; border:1px solid #ccc;">Herramientas básicas</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Capas, máscaras, Tap
                                                Select, Spot Heal, Adobe Stock</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Todo lo anterior + IA
                                                avanzada Firefly</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px; border:1px solid #ccc;">Selección avanzada</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Tap Select, Quick Select,
                                                Magic Wand</td>
                                            <td style="padding:10px; border:1px solid #ccc;"><strong>Mejoradas</strong>:
                                                Object Select, referencia, similar</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px; border:1px solid #ccc;">Edición avanzada</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Ajustes básicos, blending
                                                limitado</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Clone Stamp, Content-Aware
                                                Fill, blend modes</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px; border:1px solid #ccc;">Integración cruzada</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Básica entre móvil y
                                                Creative Cloud</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Web + móvil sincronizados
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px; border:1px solid #ccc;">Tipografía</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Limitada</td>
                                            <td style="padding:10px; border:1px solid #ccc;">Acceso a +20,000 fuentes +
                                                importación</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </p>

                                <div class="border-linear-3 rounded-4 p-lg-6 p-md-4 p-3 mt-6">
                                    <h4>Conclusión</h4>
                                    <p class="text-300 mt-4">
                                    <ul>
                                        <li>La app móvil de Photoshop ofrece una suite sorprendentemente completa para
                                            edición avanzada desde tu teléfono, incluyendo herramientas profesionales
                                            como capas, máscaras, selección avanzada y edición con IA .</li>
                                        <li>Es ideal para ediciones rápidas o creativas sobre la marcha, especialmente
                                            si ya usas Photoshop desktop o la web.</li>
                                        <li>La versión Android aún tiene limitaciones, especialmente de orientación, que
                                            están pendientes de mejoras.</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-8">
                                <div class="border-linear-3 rounded-4 p-lg-6 p-md-4 p-3 mt-lg-0 mt-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="ri-time-line fs-6"></i>
                                        <span class="ms-2 fs-6">10 min de lectura</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="ri-calendar-schedule-line fs-6"></i>
                                        <span class="ms-2 fs-6">Jul 15, 2025</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="ri-user-line fs-6"></i>
                                        <span class="ms-2 fs-6">Por <a class="fw-bold" href="#">David Nield</a></span>
                                    </div>
                                </div>
                                <div class="border-linear-3 rounded-4 p-lg-6 p-md-4 p-3 mt-4">
                                    <span class="text-uppercase fs-7">Mis Redes</span> <br />
                                    <div class="d-flex gap-3 pt-3">
                                        <a href="https://www.facebook.com/" target="_blank"
                                            class="text-decoration-none">
                                            <i class="ri-facebook-circle-fill fs-18"></i>
                                        </a>
                                        <a href="https://x.com/" target="_blank" class="text-decoration-none">
                                            <i class="ri-twitter-x-fill fs-18"></i>
                                        </a>
                                        <a href="https://www.instagram.com/" target="_blank"
                                            class="text-decoration-none">
                                            <i class="ri-instagram-fill fs-5"></i>
                                        </a>
                                        <a href="https://es.pinterest.com/" target="_blank"
                                            class="text-decoration-none">
                                            <i class="ri-pinterest-fill fs-5"></i>
                                        </a>
                                        <a href="http://github.com" target="_blank">
                                            <i class="ri-github-fill fs-18"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Static 1-->
        <div class="section-static-1 position-relative overflow-hidden z-0 py-8 bg-6">
            <div class="container">
                <div class="inner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="82"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Comunicación</p>
                                        <p class="fs-5 mb-0 fw-bold">Efectiva</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="78"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Trabajo en</p>
                                        <p class="fs-5 mb-0 fw-bold">Equipo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="70"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Capacidad de</p>
                                        <p class="fs-5 mb-0 fw-bold">Adaptación</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="75"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Gestión del</p>
                                        <p class="fs-5 mb-0 fw-bold">Tiempo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- prettier-ignore -->
    <!-- Footer -->
    <footer>
        <div class="section-footer position-relative pt-60 pb-60 bg-secondary-1">
            <div class="container position-relative z-1">
                <div class="text-center">
                    <a class="d-flex main-logo align-items-center d-inline-flex" href="../../index.html">
                        <img src="../imgs/footer-1/1.png" alt="zelio" />
                        <span class="fs-4 ms-2 text-white-keep"> Luisa.design</span>
                    </a>
                    <div
                        class="navigation d-none d-md-flex align-items-center justify-content-center flex-wrap gap-4 my-4">
                        <a href="../../index.html" class="fs-5">
                            Inicio
                        </a>
                        <a href="../views/services.html" class="fs-5">
                            Servicios
                        </a>
                        <a href="../views/portafolio.html" class="fs-5">
                            Portafolio
                        </a>
                        <a href="../views/preguntas.html" class="fs-5">
                            Preguntas Frecuentes
                        </a>
                        <a href="../views/blog_list" fs-5>
                            Blog
                        </a>
                        <a href="../views/contac.html" class="fs-5">
                            Contacto
                        </a>
                    </div>
                </div>
                <div class="row text-center py-4">
                    <span class="fs-6 text-white-keep">© 2025 Todos los derechos reservados por<span><a href="#"
                                class="text-primary"> Luisa.design</a></span>
                </div>
            </div>
            <div class="position-absolute top-0 start-0 w-100 h-100 z-0"
                data-background="assets/imgs/footer-1/background.png "></div>
        </div>
    </footer>
    <!-- Scroll top -->
    <div class="btn-scroll-top @@style">
        <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
            <path
                d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
        </svg>
    </div>

    <!-- Libs JS -->
    <script src="../js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../js/vendors/swiper-bundle.min.js"></script>
    <script src="../js/vendors/aos.js"></script>
    <script src="../js/vendors/wow.min.js"></script>
    <script src="../js/vendors/smart-stick-nav.js"></script>
    <script src="../js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="../js/vendors/gsap.min.js"></script>
    <script src="../js/vendors/imagesloaded.pkgd.min.js"></script>
    <script src="../js/vendors/isotope.pkgd.min.js"></script>
    <script src="../js/vendors/ScrollTrigger.min.js"></script>
    <script src="../js/vendors/jquery.carouselTicker.min.js"></script>
    <script src="../js/vendors/jquery.odometer.min.js"></script>
    <script src="../js/vendors/jquery.appear.js"></script>
    <script src="../js/vendors/gsap-custom.js"></script>
    <script src="../js/imageRevealHover.js"></script>
    <script src="../js/vendors/aat.min.js"></script>
    <!-- Theme JS -->
    <script src="../js/main.js"></script>

</body>

</html>