<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Luisa - Detallles del Servicio</title>
    <script src="../js/vendors/color-modes.js"></script>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../imgs/template/icons/1.png" />
    <!-- Libs CSS -->
    <link rel="stylesheet" href="../css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/vendors/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/vendors/aos.css" />
    <link rel="stylesheet" href="../css/vendors/odometer.css" />
    <link rel="stylesheet" href="../css/vendors/carouselTicker.css" />
    <link rel="stylesheet" href="../css/vendors/magnific-popup.css" />
    <link rel="stylesheet" href="../fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="../fonts/satoshi/satoshi.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Playfair+Display:wght@400..900&family=Urbanist:wght@100..900&display=swap"
        rel="stylesheet" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="../css/main.css" />

</head>

<body>
    <!-- prettier-ignore -->
    <!--Preloader-->
    <div id="preloader">
        <div class="loader-cover">
            <div class="loader-container">
                <div class="loader-icon"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->

    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light w-100 flex-nowrap z-999 p-0">
            <a href="#" class="navbar-menu p-4 text-center square-100 menu-tigger icon_80 icon-shape d-none d-md-flex"
                data-bs-target=".offCanvas__info" aria-controls="offCanvas__info">
                <i class="ri-menu-2-line"></i>
            </a>
            <div class="container py-3 px-0">
                <a class="navbar-brand d-flex main-logo align-items-center ms-lg-0 ms-md-5 ms-3" href="../../index.html">
                    <img src="../imgs/template/icons/1.png" alt="zelio" />
                    <span class="fs-4 ms-2">Luisa.design</span>
                </a>
                <div class="d-none d-lg-flex">
                    <div class="main-menu">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item has-children">
                                <a class="nav-link active" href="../../index.html">Inicio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../views/services.html">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/portafolio.html">Portafolio</a>
                            </li>

                            <li class="nav-item  has-children">
                                <a class="nav-link" href="#">Paginas</a>
                                <ul class="sub-menu">
                                    <li><a href="../views/preguntas.html">Preguntas Frecuentes</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../views/blog_list.html">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contac.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-social d-flex align-items-center pe-5 pe-lg-0 me-5 me-lg-0">
                    <div class="d-md-flex d-none gap-3">
                        <a href="http://facebook.com">
                            <i class="ri-facebook-circle-fill fs-18"></i>
                        </a>
                        <a href="http://twitter.com">
                            <i class="ri-twitter-x-fill fs-18"></i>
                        </a>
                        <a href="http://linkedin.com">
                            <i class="ri-linkedin-fill fs-18"></i>
                        </a>
                        <a href="http://github.com">
                            <i class="ri-github-fill fs-18"></i>
                        </a>
                    </div>
                    <div class="burger-icon burger-icon-white border rounded-3">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
            </div>
            <div
                class="dark-light-switcher pe-10 pe-lg-0 pe-0 ps-md-5 ps-0 ps-lg-4 pe-lg-4 d-flex justify-content-center align-items-center icon_80 @@classList">
                <i class="ri-sun-fill text-warning"></i>
                <i class="ri-contrast-2-line text-white"></i>
            </div>

        </nav>
        <!-- offCanvas-menu -->
        <div class="offCanvas__info">
            <div class="offCanvas__close-icon menu-close">
                <button><i class="ri-close-line"></i></button>
            </div>
            <div class="offCanvas__logo mb-5">
                <h3 class="mb-0">Ponte en contacto</h3>
            </div>
            <div class="offCanvas__side-info mb-30">
                <div class="contact-list mb-30">
                    <p class="fs-6 fw-medium text-200 mb-5">Siempre estoy entusiasmada por emprender nuevos proyectos y
                        colaborar con mentes innovadoras.</p>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Número de teléfono</span>
                        <p class="mb-0">+51-953-299-883</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Email</span>
                        <p class="mb-0">luisa.amaya2007@gmail.com</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Facebook</span>
                        <p class="mb-0">Luisa Amaya</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Dirección</span>
                        <p class="mb-0">La Esperanza, Trujillo, Perú</p>
                    </div>
                </div>

                <div class="contact-list">
                    <p class="text-400 fs-5 mb-2">Social</p>
                    <div class="d-md-flex d-none gap-3">
                        <a href="http://facebook.com" target="_blank">
                            <i class="ri-facebook-circle-fill fs-18"></i>
                        </a>
                        <a href="http://twitter.com" target="_blank">
                            <i class="ri-twitter-x-fill fs-18"></i>
                        </a>
                        <a href="http://linkedin.com" target="_blank">
                            <i class="ri-linkedin-fill fs-18"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="ri-instagram-fill fs-18"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offCanvas__overly"></div>
        <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-logo">
                    <a class="d-flex main-logo align-items-center d-inline-flex" href="../../index.html">
                        <img src="../imgs/footer-1/logo.svg" alt="zelio" />
                        <span class="fs-4 ms-2 text-dark">Luisa.design</span>
                    </a>
                    <div class="burger-icon burger-icon-white border rounded-3">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="perfect-scroll">
                        <div class="mobile-menu-wrap mobile-header-border">
                            <nav>
                                <ul class="mobile-menu font-heading ps-0">
                                    <li class="nav-item has-children">
                                        <a class="nav-link active" href="../../index.html">Inicio</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/services.html">Servicios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/portafolio.html">Portafolio</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/preguntas.html">Preguntas Frecuentes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/blog_list.html">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/contac.html">Contacto</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>
        <!-- prettier-ignore -->
        <!-- blog details -->
        <section class="section-details pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-lg-auto mb-8">
                        <div class="text-center">
                            <div class="btn btn-gradient d-inline-block text-uppercase"> Creación de Páginas Web</div>
                            <h3 class="ds-3 mt-3 mb-4 text-dark">Diseño y desarrollo de sitios web funcionales</h3>
                            <p class="text-300 fs-5 mb-0">
                                Desarrolladas en Visual Studio Code,
                                creo sitios personalizados en HTML, CSS y JavaScript, optimizados para rendimiento,
                                diseño y navegación.
                            </p>
                        </div>
                    </div>
                    <img src="../imgs/services-details/details-4.jpg" alt="zelio" />
                    <div class="col-lg-10 mx-lg-auto mt-8">
                        <div class="row">
                            <div class="col-lg-9">
                                <h5>Visual Studio Code</h5>
                                <h5 class="fs-5 fw-medium">¿Qué puedo crear para ti?</h5>
                                <p class="text-300">
                                <ul>
                                    <li><b>Landing Pages:</b> Página única pensada para una acción específica (captación
                                        de clientes, promociones, formularios de contacto).</li>
                                    <li><b>Sitios multipágina:</b> Webs completas con menú, secciones como Inicio,
                                        Nosotros, Servicios, Blog, Contacto, etc.</li>
                                    <li><b>Diseño responsive:</b> Sitios que se ven bien en cualquier dispositivo.</li>
                                    <li><b>Optimización básica SEO:</b> Uso correcto de títulos, etiquetas, enlaces y
                                        estructura semántica.</li>
                                    <li><b>Integración de formularios:</b> Contacto, suscripción, encuestas.</li>
                                    <li><b>Enlaces y botones funcionales</b> a redes, WhatsApp, correos, etc.</li>
                                </ul>
                                </p>

                                <h5 class="fs-5 fw-medium">Herramientas utilizadas</h5>
                                <p class="text-300">
                                <ul>
                                    <li>Visual Studio Code</li>
                                    <li>HTML5, CSS3, JavaScript</li>
                                    <li>Bootstrap, AOS, Font Awesome (según necesidad)</li>
                                    <li>Herramientas de prueba en móviles, tablets y computadoras</li>
                                </ul>
                                </p>

                                <div class="d-flex align-items-center my-6">
                                    <img class="" src="../imgs/services-details/details-4a.png" alt="zelio" />
                                    <div class="d-md-flex flex-column d-none gap-3 ms-3">
                                        <img src="../imgs/services-details/details-4b.png" alt="zelio" />
                                        <img src="../imgs/services-details/details-4c.jpg" alt="zelio" />
                                    </div>
                                </div>

                                <div class="border-linear-3 rounded-4 p-lg-6 p-md-4 p-3 mt-6">
                                    <h4>Resultados que obtendrás:</h4>
                                    <p class="text-300 mt-4">
                                    <ul>
                                        <li>Sitio moderno, funcional y adaptado a tu imagen.</li>
                                        <li>Código limpio, editable y mantenible.</li>
                                        <li>Acompañamiento durante el proceso (ediciones, soporte técnico).</li>
                                        <li>Sitio listo para subir a tu hosting o conectarlo con un dominio.</li>
                                    </ul>
                                    Ideal para emprendedores, marcas personales, negocios, portfolios y proyectos
                                    educativos.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-8">

                                <div class="d-flex align-items-center mb-3">
                                    <div class="border-linear-3 rounded-4 p-lg-6 p-md-4 p-3 mt-4">
                                        <span class="text-uppercase fs-7">Mis Redes</span> <br />
                                        <div class="d-flex gap-3 pt-3">
                                            <a href="https://www.facebook.com/" target="_blank"
                                                class="text-decoration-none">
                                                <i class="ri-facebook-circle-fill fs-18"></i>
                                            </a>
                                            <a href="https://x.com/" target="_blank" class="text-decoration-none">
                                                <i class="ri-twitter-x-fill fs-18"></i>
                                            </a>
                                            <a href="https://www.instagram.com/" target="_blank"
                                                class="text-decoration-none">
                                                <i class="ri-instagram-fill fs-5"></i>
                                            </a>
                                            <a href="https://es.pinterest.com/" target="_blank"
                                                class="text-decoration-none">
                                                <i class="ri-pinterest-fill fs-5"></i>
                                            </a>
                                            <a href="http://github.com">
                                                <i class="ri-github-fill fs-18"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <!-- prettier-ignore -->
    <!-- Footer -->
    <footer>
        <div class="section-footer position-relative pt-60 pb-60 bg-secondary-1">
            <div class="container position-relative z-1">
                <div class="text-center">
                    <a class="d-flex main-logo align-items-center d-inline-flex" href="../../index.html">
                        <img src="../imgs/footer-1/1.png" alt="zelio" />
                        <span class="fs-4 ms-2 text-white-keep"> Luisa.design</span>
                    </a>
                    <div
                        class="navigation d-none d-md-flex align-items-center justify-content-center flex-wrap gap-4 my-4">
                        <a href="../../index.html" class="fs-5">
                            Inicio
                        </a>
                        <a href="../views/services.html" class="fs-5">
                            Servicios
                        </a>
                        <a href="../views/portafolio.html" class="fs-5">
                            Portafolio
                        </a>
                        <a href="../views/preguntas.html" class="fs-5">
                            Preguntas Frecuentes
                        </a>
                        <a href="../views/blog_list.html" fs-5>
                            Blog
                        </a>
                        <a href="../views/contac.html" class="fs-5">
                            Contacto
                        </a>
                    </div>
                </div>
                <div class="row text-center py-4">
                    <span class="fs-6 text-white-keep">© 2025 Todos los derechos reservados por<span><a href="#"
                                class="text-primary"> Luisa.design</a></span>
                </div>
            </div>
            <div class="position-absolute top-0 start-0 w-100 h-100 z-0"
                data-background="assets/imgs/footer-1/background.png "></div>
        </div>
    </footer>
    <!-- Scroll top -->
    <div class="btn-scroll-top @@style">
        <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
            <path
                d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
        </svg>
    </div>

    <!-- Libs JS -->
    <script src="../js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../js/vendors/swiper-bundle.min.js"></script>
    <script src="../js/vendors/aos.js"></script>
    <script src="../js/vendors/wow.min.js"></script>
    <script src="../js/vendors/smart-stick-nav.js"></script>
    <script src="../js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="../js/vendors/gsap.min.js"></script>
    <script src="../js/vendors/imagesloaded.pkgd.min.js"></script>
    <script src="../js/vendors/isotope.pkgd.min.js"></script>
    <script src="../js/vendors/ScrollTrigger.min.js"></script>
    <script src="../js/vendors/jquery.carouselTicker.min.js"></script>
    <script src="../js/vendors/jquery.odometer.min.js"></script>
    <script src="../js/vendors/jquery.appear.js"></script>
    <script src="../js/vendors/gsap-custom.js"></script>
    <script src="../js/imageRevealHover.js"></script>
    <script src="../js/vendors/aat.min.js"></script>
    <!-- Theme JS -->
    <script src="../js/main.js"></script>

</body>

</html>