<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Luisa - Servicios</title>
    <script src="../js/vendors/color-modes.js"></script>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../imgs/template/icons/1.png" />
    <!-- Libs CSS -->
    <link rel="stylesheet" href="../css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/vendors/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/vendors/aos.css" />
    <link rel="stylesheet" href="../css/vendors/odometer.css" />
    <link rel="stylesheet" href="../css/vendors/carouselTicker.css" />
    <link rel="stylesheet" href="../css/vendors/magnific-popup.css" />
    <link rel="stylesheet" href="../fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="../fonts/satoshi/satoshi.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Playfair+Display:wght@400..900&family=Urbanist:wght@100..900&display=swap"
        rel="stylesheet" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="../css/main.css" />

</head>

<body>
    <!-- prettier-ignore -->
    <!--Preloader-->
    <div id="preloader">
        <div class="loader-cover">
            <div class="loader-container">
                <div class="loader-icon"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->

    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light w-100 flex-nowrap z-999 p-0">
            <a href="#" class="navbar-menu p-4 text-center square-100 menu-tigger icon_80 icon-shape d-none d-md-flex"
                data-bs-target=".offCanvas__info" aria-controls="offCanvas__info">
                <i class="ri-menu-2-line"></i>
            </a>
            <div class="container py-3 px-0">
                <a class="navbar-brand d-flex main-logo align-items-center ms-lg-0 ms-md-5 ms-3"
                    href="file:///C:/Users/User/Desktop/Web/index.html">
                    <img src="../imgs/template/icons/1.png" alt="zelio" />
                    <span class="fs-4 ms-2">Luisa.design</span>
                </a>
                <div class="d-none d-lg-flex">
                    <div class="main-menu">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item has-children">
                                <a class="nav-link active"
                                    href="file:///C:/Users/User/Desktop/Web/index.html">Inicio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../views/services.html">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/portafolio.html">Portafolio</a>
                            </li>

                            <li class="nav-item  has-children">
                                <a class="nav-link" href="#">Paginas</a>
                                <ul class="sub-menu">
                                    <li><a href="../views/preguntas.html">Preguntas Frecuentes</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../views/blog_list.html">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contac.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-social d-flex align-items-center pe-5 pe-lg-0 me-5 me-lg-0">
                    <div class="d-md-flex d-none gap-3">
                        <a href="http://facebook.com">
                            <i class="ri-facebook-circle-fill fs-18"></i>
                        </a>
                        <a href="http://twitter.com">
                            <i class="ri-twitter-x-fill fs-18"></i>
                        </a>
                        <a href="http://linkedin.com">
                            <i class="ri-linkedin-fill fs-18"></i>
                        </a>
                        <a href="http://github.com">
                            <i class="ri-github-fill fs-18"></i>
                        </a>
                    </div>
                    <div class="burger-icon burger-icon-white border rounded-3">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
            </div>
            <div
                class="dark-light-switcher pe-10 pe-lg-0 pe-0 ps-md-5 ps-0 ps-lg-4 pe-lg-4 d-flex justify-content-center align-items-center icon_80 @@classList">
                <i class="ri-sun-fill text-warning"></i>
                <i class="ri-contrast-2-line text-white"></i>
            </div>

        </nav>
        <!-- offCanvas-menu -->
        <div class="offCanvas__info">
            <div class="offCanvas__close-icon menu-close">
                <button><i class="ri-close-line"></i></button>
            </div>
            <div class="offCanvas__logo mb-5">
                <h3 class="mb-0">Ponte en contacto</h3>
            </div>
            <div class="offCanvas__side-info mb-30">
                <div class="contact-list mb-30">
                    <p class="fs-6 fw-medium text-200 mb-5">Siempre estoy entusiasmada por emprender nuevos proyectos y
                        colaborar con mentes innovadoras.</p>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Número de teléfono</span>
                        <p class="mb-0">+51-953-299-883</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Email</span>
                        <p class="mb-0">luisa.amaya2007@gmail.com</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Facebook</span>
                        <p class="mb-0">Luisa Amaya</p>
                    </div>
                    <div class="mb-3">
                        <span class="text-400 fs-5">Dirección</span>
                        <p class="mb-0">La Esperanza, Trujillo, Perú</p>
                    </div>
                </div>

                <div class="contact-list">
                    <p class="text-400 fs-5 mb-2">Social</p>
                    <div class="d-md-flex d-none gap-3">
                        <a href="http://facebook.com" target="_blank">
                            <i class="ri-facebook-circle-fill fs-18"></i>
                        </a>
                        <a href="http://twitter.com" target="_blank">
                            <i class="ri-twitter-x-fill fs-18"></i>
                        </a>
                        <a href="http://linkedin.com" target="_blank">
                            <i class="ri-linkedin-fill fs-18"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="ri-instagram-fill fs-18"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offCanvas__overly"></div>
        <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-logo">
                    <a class="d-flex main-logo align-items-center d-inline-flex" href="index.html">
                        <img src="../imgs/footer-1/logo.svg" alt="zelio" />
                        <span class="fs-4 ms-2 text-dark">Luisa.design</span>
                    </a>
                    <div class="burger-icon burger-icon-white border rounded-3">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="perfect-scroll">
                        <div class="mobile-menu-wrap mobile-header-border">
                            <nav>
                                <ul class="mobile-menu font-heading ps-0">
                                    <li class="nav-item has-children">
                                        <a class="nav-link active" href="/index.html">Inicio</a>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/services.html">Servicios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/portafolio.html">Portafolio</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/preguntas.html">Preguntas Frecuentes</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/blog_list.html">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../views/contac.html">Contacto</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>
        <!-- prettier-ignore -->
        <!-- services list -->
        <section class="section-service-list pt-120 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-lg-auto">
                        <div class="text-center">
                            <div class="btn btn-gradient d-inline-block text-uppercase">Mis Servicios</div>
                            <h3 class="ds-3 mt-3 mb-4 text-dark">
                                Transformo ideas
                                <span class="text-300">en diseños intuitivos</span>
                                y experiencias
                                <span class="text-300">atractivas</span>
                            </h3>
                            <p class="text-300 fs-5">
                                Con experiencia en diseño de aplicaciones móviles y web, transformo ideas en
                                <br />
                                interfaces visualmente impactantes e intuitivas que cautivan y retienen a los
                                usuarios.<br />
                                Explora mi trabajo y observa el diseño en acción.
                            </p>
                        </div>
                        <div class="card-scroll mt-8">
                            <div class="cards">
                                <!--prettier-ignore-->
                                <div class="card-custom" data-index="0">
                                    <div class="card__inner bg-6 px-md-5 py-md-6 px-3 py-4">
                                        <div class="card__title d-flex align-items-center mb-md-4 mb-3">
                                            <a href="../views/service_1.html" class="card_title_link">
                                                <h3 class="fw-semibold mb-2">Diseño Gráfico</h3>
                                                <p class="mb-0">Creative. Coherente. Visualmente poderoso.</p>
                                            </a>
                                            <a href="../views/service_1.html"
                                                class="card-icon border text-dark border-dark icon-shape ms-auto icon-md rounded-circle">
                                                <i class="ri-arrow-right-up-line"></i>
                                            </a>
                                        </div>
                                        <div class="card__image-container zoom-img position-relative">
                                            <img class="card__image" src="../imgs/services-list/img-1.png"
                                                alt="zelio" /> <!--Cambiar-->
                                            <a href="../views/service_1.html"
                                                class="card-image-overlay position-absolute start-0 end-0 w-100 h-100"></a>
                                        </div>
                                        <div class="card__content mt-lg-5 mt-md-4 mt-3 pb-4">
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    DISEÑO VISUAL</p>
                                                <p class="card__description text-300 fs-6 mb-0">Desarrollo de piezas
                                                    visuales únicas, que comunican de forma efectiva los valores y
                                                    mensajes de la marca, manteniendo una estética coherente y
                                                    profesional.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    COMUNICACIÓN GRÁFICA</p>
                                                <p class="card__description text-300 fs-6 mb-0">Aplicación de principios
                                                    de diseño para transmitir ideas claras y atractivas mediante la
                                                    composición, color, tipografía e imagen.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    MATERIALES PROMOCIONALES</p>
                                                <p class="card__description text-300 fs-6 mb-0">Creación de recursos
                                                    gráficos para redes, impresos y medios digitales, adaptados a cada
                                                    canal y público objetivo.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-custom" data-index="0">
                                    <div class="card__inner bg-6 px-md-5 py-md-6 px-3 py-4">
                                        <div class="card__title d-flex align-items-center mb-md-4 mb-3">
                                            <a href="../views/service_2.html" class="card_title_link">
                                                <h3 class="fw-semibold mb-2">Análisis de software</h3>
                                                <p class="mb-0">Estrategia. Diagnóstico. Eficiencia.</p>
                                            </a>
                                            <a href="../views/service_2.html"
                                                class="card-icon border text-dark border-dark icon-shape ms-auto icon-md rounded-circle">
                                                <i class="ri-arrow-right-up-line"></i>
                                            </a>
                                        </div>
                                        <div class="card__image-container zoom-img position-relative">
                                            <img class="card__image" src="../imgs/services-list/img-2.png"
                                                alt="zelio" />
                                            <a href="../views/service_2.html"
                                                class="card-image-overlay position-absolute start-0 end-0 w-100 h-100"></a>
                                        </div>
                                        <div class="card__content mt-lg-5 mt-md-4 mt-3 pb-4">
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    LEVANTAMIENTO DE REQUISITOS</p>
                                                <p class="card__description text-300 fs-6 mb-0">Identificación de
                                                    necesidades y objetivos del usuario para diseñar soluciones a
                                                    medida.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    DOCUMENTACIÓN FUNCIONAL</p>
                                                <p class="card__description text-300 fs-6 mb-0">Creación de
                                                    especificaciones técnicas y funcionales para guiar el desarrollo del
                                                    software con precisión.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    EVALUACIÓN Y MEJORA</p>
                                                <p class="card__description text-300 fs-6 mb-0">Análisis de sistemas
                                                    existentes para detectar fallas, proponer optimizaciones y mejorar
                                                    el rendimiento general.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-custom" data-index="0">
                                    <div class="card__inner bg-6 px-md-5 py-md-6 px-3 py-4">
                                        <div class="card__title d-flex align-items-center mb-md-4 mb-3">
                                            <a href="../views/service_3.html" class="card_title_link">
                                                <h3 class="fw-semibold mb-2">Prototipado web</h3>
                                                <p class="mb-0">Interactivo. Rápido. Validado.</p>
                                            </a>
                                            <a href="../views/service_3.html"
                                                class="card-icon border text-dark border-dark icon-shape ms-auto icon-md rounded-circle">
                                                <i class="ri-arrow-right-up-line"></i>
                                            </a>
                                        </div>
                                        <div class="card__image-container zoom-img position-relative">
                                            <img class="card__image" src="../imgs/services-list/img-3.png"
                                                alt="zelio" />
                                            <a href="../views/service_3.html"
                                                class="card-image-overlay position-absolute start-0 end-0 w-100 h-100"></a>
                                        </div>
                                        <div class="card__content mt-lg-5 mt-md-4 mt-3 pb-4">
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    WIREFRAMES Y MOCKUPS</p>
                                                <p class="card__description text-300 fs-6 mb-0">Diseño de esquemas
                                                    visuales y simulaciones de alta fidelidad para representar la
                                                    estructura y apariencia del sitio.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    INTERACTIVIDAD</p>
                                                <p class="card__description text-300 fs-6 mb-0">Creación de prototipos
                                                    funcionales con transiciones y navegación para validar la
                                                    experiencia del usuario antes del desarrollo.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    PRUEBAS CON USUARIOS</p>
                                                <p class="card__deINTERACTIVIDADscription text-300 fs-6 mb-0">
                                                    Recopilación de feedback temprano para iterar y asegurar un producto
                                                    final alineado con las expectativas del público objetivo.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-custom" data-index="0">
                                    <div class="card__inner bg-6 px-md-5 py-md-6 px-3 py-4">
                                        <div class="card__title d-flex align-items-center mb-md-4 mb-3">
                                            <a href="../views/service_4.html" class="card_title_link">
                                                <h3 class="fw-semibold mb-2">Creación de páginas web</h3>
                                                <p class="mb-0">Funcional. Estética. Adaptable.</p>
                                            </a>
                                            <a href="../views/service_4.html"
                                                class="card-icon border text-dark border-dark icon-shape ms-auto icon-md rounded-circle">
                                                <i class="ri-arrow-right-up-line"></i>
                                            </a>
                                        </div>
                                        <div class="card__image-container zoom-img position-relative">
                                            <img class="card__image" src="../imgs/services-list/img-4.png"
                                                alt="zelio" />
                                            <a href="../views/service_4.html"
                                                class="card-image-overlay position-absolute start-0 end-0 w-100 h-100"></a>
                                        </div>
                                        <div class="card__content mt-lg-5 mt-md-4 mt-3 pb-4">
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    DISEÑO RESPONSIVO</p>
                                                <p class="card__description text-300 fs-6 mb-0">Páginas adaptables a
                                                    móviles, tablets y escritorios, garantizando una navegación fluida
                                                    desde cualquier dispositivo.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    OPTIMIZACIÓN SEO</p>
                                                <p class="card__description text-300 fs-6 mb-0">Estructura y contenido
                                                    optimizados para mejorar la visibilidad del sitio en motores de
                                                    búsqueda.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    INTEGRACIÓN DE FUNCIONALIDADES</p>
                                                <p class="card__description text-300 fs-6 mb-0">Formularios, mapas,
                                                    catálogos, sliders, links a redes y más, según las necesidades del
                                                    cliente y el público.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-custom" data-index="0">
                                    <div class="card__inner bg-6 px-md-5 py-md-6 px-3 py-4">
                                        <div class="card__title d-flex align-items-center mb-md-4 mb-3">
                                            <a href="../views/service_5.html" class="card_title_link">
                                                <h3 class="fw-semibold mb-2">Manejo de IA</h3>
                                                <p class="mb-0">Rápido. Único. A tu estilo.</p>
                                            </a>
                                            <a href="../views/service_5.html"
                                                class="card-icon border text-dark border-dark icon-shape ms-auto icon-md rounded-circle">
                                                <i class="ri-arrow-right-up-line"></i>
                                            </a>
                                        </div>
                                        <div class="card__image-container zoom-img position-relative">
                                            <img class="card__image" src="../imgs/services-list/img-5.png"
                                                alt="zelio" />
                                            <a href="../views/service_5.html"
                                                class="card-image-overlay position-absolute start-0 end-0 w-100 h-100"></a>
                                        </div>
                                        <div class="card__content mt-lg-5 mt-md-4 mt-3 pb-4">
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    IMÁGENES PUBLICITARIAS PERSONALIZADAS</p>
                                                <p class="card__description text-300 fs-6 mb-0">Generación de gráficos
                                                    únicos con inteligencia artificial para campañas visuales, anuncios,
                                                    banners y contenido digital, adaptados al estilo de tu marca.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    STICKERS ILUSTRADOS Y TEMÁTICOS</p>
                                                <p class="card__description text-300 fs-6 mb-0">Creación de stickers
                                                    para redes sociales, WhatsApp, Telegram o merchandising, con estilos
                                                    desde kawaii hasta realista o vectorial.</p>
                                            </div>
                                            <div class="d-md-flex content">
                                                <p
                                                    class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">
                                                    CONTENIDO VISUAL A PEDIDO (PROMPTS)</p>
                                                <p class="card__deINTERACTIVIDADscription text-300 fs-6 mb-0">
                                                    Imágenes generadas desde descripciones específicas (prompts),
                                                    ideales para proyectos creativos, editoriales o branding conceptual,
                                                    sin depender de bancos genéricos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>

        <!--Static 1-->
        <div class="section-static-1 position-relative overflow-hidden z-0 py-8 bg-6">
            <div class="container">
                <div class="inner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="82"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Comunicación</p>
                                        <p class="fs-5 mb-0 fw-bold">Efectiva</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="78"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Trabajo en</p>
                                        <p class="fs-5 mb-0 fw-bold">Equipo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="70"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Capacidad de</p>
                                        <p class="fs-5 mb-0 fw-bold">Adaptación</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto col-md-6">
                            <div class="counter-item-cover counter-item">
                                <div class="content text-center mx-auto d-flex align-items-center">
                                    <span class="ds-3 count text-primary fw-medium my-0">%<span
                                            class="odometer ds-1 text-dark fw-semibold" data-count="75"></span></span>
                                    <div class="text-start ms-2">
                                        <p class="fs-5 mb-0 text-300">Gestión del</p>
                                        <p class="fs-5 mb-0 fw-bold">Tiempo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- prettier-ignore -->
    <!-- Footer -->
    <footer>
        <div class="section-footer position-relative pt-60 pb-60 bg-secondary-1">
            <div class="container position-relative z-1">
                <div class="text-center">
                    <a class="d-flex main-logo align-items-center d-inline-flex" href="index.html">
                        <img src="../imgs/footer-1/1.png" alt="zelio" />
                        <span class="fs-4 ms-2 text-white-keep"> Luisa.design</span>
                    </a>
                    <div
                        class="navigation d-none d-md-flex align-items-center justify-content-center flex-wrap gap-4 my-4">
                        <a href="/index.html" class="fs-5">
                            Inicio
                        </a>
                        <a href="../views/services.html" class="fs-5">
                            Servicios
                        </a>
                        <a href="../views/portafolio.html" class="fs-5">
                            Portafolio
                        </a>
                        <a href="../views/preguntas.html" class="fs-5">
                            Preguntas Frecuentes
                        </a>
                        <a href="../views/blog_list.html" class="fs-5">
                            Blog
                        </a>
                        <a href="../views/contac.html" class="fs-5">
                            Contacto
                        </a>
                    </div>
                </div>
                <div class="row text-center py-4">
                    <span class="fs-6 text-white-keep">© 2025 Todos los derechos reservados por<span><a href="#"
                                class="text-primary"> Luisa.design</a></span>
                </div>
            </div>
            <div class="position-absolute top-0 start-0 w-100 h-100 z-0"
                data-background="assets/imgs/footer-1/background.png "></div>
        </div>
    </footer>
    <!-- Scroll top -->
    <div class="btn-scroll-top @@style">
        <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
            <path
                d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
        </svg>
    </div>
    <!-- Libs JS -->
    <script src="../js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../js/vendors/swiper-bundle.min.js"></script>
    <script src="../js/vendors/aos.js"></script>
    <script src="../js/vendors/wow.min.js"></script>
    <script src="../js/vendors/smart-stick-nav.js"></script>
    <script src="../js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="../js/vendors/gsap.min.js"></script>
    <script src="../js/vendors/imagesloaded.pkgd.min.js"></script>
    <script src="../js/vendors/isotope.pkgd.min.js"></script>
    <script src="../js/vendors/ScrollTrigger.min.js"></script>
    <script src="../js/vendors/jquery.carouselTicker.min.js"></script>
    <script src="../js/vendors/jquery.odometer.min.js"></script>
    <script src="../js/vendors/jquery.appear.js"></script>
    <script src="../js/vendors/gsap-custom.js"></script>
    <script src="../js/imageRevealHover.js"></script>
    <script src="../js/vendors/aat.min.js"></script>
    <!-- Theme JS -->
    <script src="../js/main.js"></script>

</body>

</html>